.ourteam__div {
	padding: 30px;
}

.ourteam {
	background: #f5f4fa;
	padding-top: 60px;
	padding-bottom: 60px;

	@media screen and (min-width: 1200px) {
		padding-top: 94px;
		padding-bottom: 94px;
	}

	&__Maintitle {
		margin-bottom: 50px;
	}
	&__list {
		/*  display: flex;
    justify-content: space-between;*/
		justify-content: center;
		@media screen and (min-width: 768px) {
			display: flex;
			flex-wrap: wrap;
			row-gap: 30px;
			column-gap: 30px;
		}
	}
	&__title {
		font-weight: 500;
		font-size: var(--footer-font-size);
		line-height: 1.1875;
		text-align: center;
		letter-spacing: 0.03em;
		margin-bottom: 6px;
	}
	&__undertitle {
		font-size: var(--footer-font-size);
		line-height: 1.1875;
		text-align: center;
		letter-spacing: 0.03em;
		color: var(--undertitle-font-color);
		margin-bottom: 16px;
	}
	&__item {
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: 0px 0px 4px 4px;
		background-color: var(--white-color);

		margin-left: auto;
		margin-right: auto;
		width: 290px;
		margin-bottom: 30px;
		@media screen and (min-width: 480px) {
			width: 450px;
		}
		@media screen and (min-width: 768px) {
			width: 354px;
			margin-bottom: 0;
		}
		@media screen and (min-width: 1200px) {
			width: 270px;
			margin-bottom: 0px;
		}
	}
}

.ourteamIcons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	&__icon {
		fill: #afb1b8;
		-webkit-transition-property: fill;
		transition-property: fill;
		-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		-webkit-transition-duration: 250ms;

		transition-duration: 250ms;
	}
	&__item {
		width: 44px;
		height: 44px;
		/*background-color: var(--main-font-color);*/
		display: inline-block;
		&:last-child {
			margin-right: 0;
		}
	}
	&__link {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		width: 100%;
		height: 100%;
		background-color: var(--white-color);
		border-radius: 50%;
		-webkit-transition-property: background-color;
		transition-property: background-color;
		-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		-webkit-transition-duration: 250ms;
		transition-duration: 250ms;
		&:hover,
		&:focus {
			background-color: var(--main-font-color);
			.ourteamIcons__icon {
				fill: var(--white-color);
			}
		}
	}
}
