.header-container{
  display: flex;
 
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  @media screen and(max-width:1200px) {
        padding-top: 0px;
        padding-bottom: 0px;
        justify-content: space-between;
}
@media screen and(min-width:1200px) {
        padding-top: 0px;
        padding-bottom: 0px;
        
}


}
.header-nav-div{
        display: none;
        @media screen and(min-width:768px) {
                display: block;
                .header-nav__ul{
                        width: 282px;
                        display: flex;
                        justify-content: space-between;
                }
                .header-nav__list{
                        padding-top: 32px;
                        padding-bottom: 32px;
                }
                .header-nav__a {
                        transition-property: color;
                        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                        transition-duration: 250ms;
                        font-weight: 500;
                       
                        font-size: var(--font-size);
                        line-height: 1.1428571429;
                        letter-spacing: 0.02em;
                        &:hover, &:focus {
                        color: var(--main-font-color);
                        }
                        &--active {
                        color: var(--main-font-color);
                        position: relative;
                        &:after {
                        content: " ";
                        position: absolute;
                        bottom: -33px;;
                        left: 0;
                        width: 100%;
                        height: 4px;
                        border-radius: 4px;
                        background-color: var(--main-font-color);
                        }
                        }
                }

        }
        @media screen and (min-width:1200px) {
                margin-left: 93px;
                margin-right: 305px;
        }
}

.header-adress{
        display: none;
        @media screen and(min-width:768px) {
                display: block;
                .header-adress__list:first-child{
                        margin-bottom: 10px;
                }
                

        .header-adress__href{
        transition-property: color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
        font-weight: 500;
        font-size: var(--font-size);
        line-height: 1.1428571429;
        letter-spacing: 0.02em;
        color:var(--undertitle-font-color);
        &:hover, &:focus{
              color: var(--main-font-color);
              .header-adress__svg{
                fill: var(--main-font-color);
              }
        }
        }
        }
         &__ul{
        @media screen and (min-width:1200px) {
                display: flex;
                .header-adress__list:first-child{
                        margin-bottom: 0px;
                        margin-right: 40px;
                }
        }
}
}
    .menu-toggle{
        @media screen and(min-width:768px) {
                display: none;
        }
}

.header-adress__svg{
  margin-right: 8px;      
  fill: var(--undertitle-font-color);
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;


}
.svg-menu{
        fill:var(--title-color);
}
