.hiden-title {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .title__button {
    font-weight: 700;
    font-size: var(--footer-font-size);
    line-height: 1.875;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    border-radius: 4px;
    background-color: var(--main-font-color);
    width: 216px;
    height: 50.25px;
    text-align: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 31px;
  }
  .title-h2 {
    font-size: var(--title-h2-font-size);
    line-height: 1.1666666667;
    text-align: center;
    letter-spacing: 0.03em;
  }