:root {
  --font-logo:26px;
  --modal-tite-font-size:20px;
  --title-h2-font-size:36px;
  --footer-font-size: 16px;
  --font-size: 14px;
  --main-title-font-size:44px;
  --projects-list-font-size:18px;
  --title-color: #212121;
  --background-color: #2f303a;
  --main-font-color: #2196f3;
  --white-color: #ffffff;
  --font-color-address: rgba(255, 255, 255, 0.6);
  --undertitle-font-color: #757575;
}